/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

@mixin center-block($w:null){
  max-width: $w;
  display: block;
  margin-right: auto;
  margin-left: auto;
}


@mixin mq($bp){
  @media (min-width: $bp) {
    @content;
  }
}

  